@model WebApplication36.Models.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
