@model WebApplication36.Models.UserFlights

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserFlights</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_Flight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_Flight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
