@model IEnumerable<WebApplication36.Models.UserHotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breakfast)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Adults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Children)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breakfast)
        </td>
        <td>
            @*@Html.ActionLink("Home", "Index", "Home") |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.UserID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.UserID })*@
        </td>
    </tr>
}

</table>
